.analysis{
    max-height: 100vh;
    overflow: auto;
    h3{
        font-size: 1.2rem;
        font-family: sans-serif;
        font-weight: 600;
        text-align: center;
        margin: 10px 0px;
        user-select: none;
    }
    .header-intro{
        width: 100%;
        margin: 20px 0px;
        .left-component, .right-component{
            width: 50%;
            height: 200px;
            /* background: pink; */
        }
        .left-component{
            .user-info{
                width: 70%;
                padding: 4px 20px;
                padding-top: 8%;
                small{
                    color: slategray;
                    font-weight: 500;
                    text-transform: capitalize;
                }
                h1{
                    word-wrap: break-word;
                    font-size: 2.2rem;
                    max-width: 100%;
                    max-height: 85px;
                    overflow: hidden;
                }
                p{
                    font-size: 14px;
                    color: gray;
                    font-family: consolas;
                    padding: 2px 4px;
                }
            }
            .user-dp{
                width: 40%;
                user-select: none;
                img{
                    width: 140px;
                    height: 140px;
                    margin: calc((100% - 140px) / 2);
                    border-radius: 50%;
                    border: 1px solid black;
                }
                .dp{
                    --size: 140px;
                    width: var(--size);
                    height: var(--size);
                    margin: calc((100% - var(--size)) / 2);
                    margin-top: calc(calc((100% - var(--size)) / 2) - 10px);
                    padding: 10% 0px;
                    text-align: center;
                    background: lightgray;
                    border-radius: 50%;
                    border: 2px solid #fff;
                    font-size: 60px;
                    font-family: cursive;
                    color: #fff;
                    cursor: pointer;
                }
            }
        }
        .right-component{
            /* background: green; */
            .to-class-info{
                width: 70%;
                height: 85%;
                margin: 2% 15%;
                background: #f0f5b6;
                border-radius: 30px;
                overflow: hidden;
                .left-class-info{
                    width: 70%;
                    /* background: pink; */
                    .btn-holder{
                        background: #fff;
                        width: 85%;
                        margin: 3% 5%;
                        padding: 4px;
                        border-radius: 50px;
                        font-size: 0.7rem;
                        font-weight: 600;
                        cursor: pointer;
                        .checkmark{
                            width: 44px;
                            height: 44px;
                            background: #f0f5b6;
                            text-align: center;
                            border-radius: 50%;
                            svg{
                                --size: 28px;
                                width: var(--size);
                                height: var(--size);
                                margin: calc((100% - var(--size)) / 2) 0px;
                            }
                        }
                        .text{
                            padding: 10px 0px;
                            font-size: 14px;
                        }
                        .arrow{
                            width: 10%;
                            
                        }
                    }
                    h3{
                        text-align: left;
                        margin: 20px 20px;
                        max-width: 100%;
                        max-height: 26px;
                        overflow: hidden;
                    }
                    .t-info{
                        width: 75%;
                        margin: 0px 10%;
                        .btn{
                            border: 0.5px solid #c09761;
                            border-radius: 50px;
                            font-size: 10px;
                            font-family: sans-serif;
                            font-weight: 600;
                            padding: .275rem .65rem;
                            height: fit-content;
                            width: 75px;
                            max-width: 85px;
                            justify-content: space-between;
                            .t-date,.t-location{
                                margin-top: 1px;
                            }
                        }
                    }
                }
                .right-class-info{
                    width: 40%;
                    /* background: blue; */
                    user-select: none;
                    img{
                        position: relative;
                        width: 100%;
                        /* margin-left: -8px;
                        margin-top: 20%;
                        width: 140%; */
                        margin-top: 8%;
                        margin-left: 2px;
                        width: 130%;
                    }
                }
            }
        }
    }
    .timeline-intro{
        width: 95%;
        margin: 20px auto;
        .left-component, .right-component{
            .header{
                h3{
                    font-size: 1.1rem;
                    text-align: left;
                }
                select{
                    width: fit-content;
                    border-radius: 50px;
                    font-size: 14px;
                    font-weight: 500;
                    border: none;
                    cursor: pointer;
                }
            }
            .body{
                margin: 20px 0px;
            }
        }
        .left-component{
            width: 35%;
            .body{
                .cal-head{
                    margin: 8px 0px;
                    font-family: sans-serif;
                    font-size: 14px;
                    background: white;
                    padding: 8px 2px;
                    border-radius: 50px;
                    .head{
                        width: calc(100% / 7);
                        text-align: center;
                        cursor: default;
                        user-select: none;
                        border-right: 0.5px solid grey;
                    }
                    .head:nth-last-child(1){
                        border: none;
                    }
                }
                .cal-date{
                    display: grid;
                    grid-template-columns: repeat(7, 1fr);
                    gap: 5px;
                    font-size: 12px;
                    font-family: monospace;
                    text-align: center;
                    .date{
                        background: #fff;
                        border-radius: 50px;
                        width: fit-content;
                        padding: 18px 10px 4px 10px;
                        margin: 0px auto;
                        cursor: pointer;
                        user-select: none;
                    }
                    .date:hover{
                        background: var(--myellow);
                    }
                    .todate{
                        background: #c09761;
                        color: #fff;
                    }
                    .nodate{
                        background: transparent;
                    }
                    .nodate:hover{
                        background: whitesmoke;
                    }
                }
            }
        } 
        .right-component{
            width: 55%;
            .body{
                padding-top: 10px;
                overflow-x: hidden;
                .class-time{
                    width: 100%;
                    .left-component{
                        width: fit-content;
                        padding: 8px 10px;
                        font-size: 16px;
                        font-family: sans-serif;
                        font-weight: 500;
                        padding-top: 0px;
                        margin-top: -12px;
                    }
                    .right-component{
                        width: 80%;
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        column-gap: 8px;
                        padding: 16px 0px;
                        border-bottom: 1px solid slategrey;
                        .class{
                            background: #fff;
                            width: fit-content;
                            min-width: 250px;
                            padding: 2px 4px;
                            border-radius: 50px;
                            height: fit-content;
                            padding: 3px 4px 3px 3px;
                            cursor: pointer;
                            .class-logo{
                                width: 40px;
                                height: 40px;
                                border-radius: 50%;
                                background: antiquewhite;
                                text-align: center;
                                padding: 5px;
                            }
                            .class-info{
                                width: 60%;
                                padding: 2px 0px;
                                .class-name{
                                    font-size: 12px;
                                    font-family: sans-serif;
                                    font-weight: bolder;
                                }
                                .class-loc{
                                    font-size: 10px;
                                    color: grey;
                                }
                            }
                            .class-ico{
                                width: 20%;
                                padding: 2px 0px;
                                text-align: center;
                                color: slategray;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Mobile view */
@media only screen and (max-width: 900px), only screen and (min-width: 900px) and (max-width: 1200px) {
    .analysis{
        .header-intro{
            flex-direction: column;
            .left-component, .right-component{
                width: 100%;
                height: fit-content;
            }
            .left-component{
                .user-info{
                    padding: 4px 10px;
                    h1{
                        font-size: 2rem;
                    }
                    p{
                        font-size: 12px;
                    }
                }
                .user-dp{
                    .dp{
                        --size: 100px;
                        width: var(--size);
                        height: var(--size);
                        margin: calc((100% - var(--size)) / 2);
                        font-size: 45px;
                    }
                }
            }
            .right-component{
                .to-class-info{
                    width: 95%;
                    margin: 2% auto;
                    max-height: 160px;
                    overflow: hidden;
                    .left-class-info {
                        .btn-holder {
                            .checkmark{
                                width: 35px;
                                height: 35px;
                                svg{
                                    --size: 20px;
                                }
                            }
                            .text{
                                font-size: 12px;
                                padding: 8px 0px;
                            }
                        }
                        .t-info {
                            .btn{
                                width: 80px;
                                svg{
                                    width: 14px;
                                    height: 14px;
                                }
                            }
                        }
                    }
                    .right-class-info{
                        img{
                            width: 150%;
                            margin-top: 5%;
                            margin-left: -12%;
                        }
                    }
                }
            }
        }
        .timeline-intro{
            flex-direction: column;
            .left-component, .right-component{
                width: 100%;
            }
            .right-component{
                .body {
                    padding-bottom: 40px;
                    .class-time {
                        .right-component{
                            grid-template-columns: repeat(1, 1fr);
                            row-gap: 8px;
                        }
                    }
                }
            }
        }
    }

}

/* Desktop view */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .analysis {
        .header-intro {
            flex-direction: row;
            .right-component {
                .to-class-info {
                    .right-class-info {
                        img{
                            margin-top: -5%;
                            margin-left: -14%;
                        }
                    }
                }
            }
        }
    }
}

/* Tab view */
@media only screen and (min-width: 481px) and (max-width: 767px) {
    .analysis {
        .header-intro {
            width: 95%;
            margin: 20px auto;
            .left-component {
                .user-dp {
                    .dp {
                        margin: 0px calc((100% - var(--size)) / 2);
                        padding: 6% 0px;
                    }
                }
            }
            .right-component {
                .to-class-info {
                    .left-class-info{
                        padding-right: 10%;
                    }
                    .right-class-info {
                        img{
                            width: 120%;
                            margin-left: 10%;
                            margin-top: -4%;
                        }
                    }
                }
            }
        }
    }
}